
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    scrollbar-width: none;

    --black: #09090B;
    --deep-grey: #E2E2E2;
    --grey: #434242;
    --highlight-black: #1e1e1e;
    --white: #FAFAFA;
    --deep-pink: #FF1761;
    --pink: #FF729F;
    
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
}

body {
    background: var(--black);
    background: url('./assets/Background.svg');
    color: var(--white);
}

.section__padding {
    padding: 1rem 4rem;
}

.section__margin {
    margin: 1rem 4rem;
}
