
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    scrollbar-width: none;

    --black: #09090B;
    --deep-grey: #E2E2E2;
    --grey: #434242;
    --white: #FAFAFA;
    --deep-pink: #FF1761;
    --pink: #FF729F;
    
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
}

body {
    background: url('./assets/Background.svg');
    color: var(--white);
}

.section__padding {
    padding: 1rem 4rem;
}

.section__margin {
    margin: 1rem 4rem;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px solid blue;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #072D37;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #11819d;
}