.led__star
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.led__title
{
    background-color: var(--deep-pink);
}
.led__text
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 96px;
    font-weight: 900;
}
.points
{
    display: flex;
    flex-direction: row;
}
.point_left
{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}
.point_right
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-basis: 60%;
}
.point_title
{
    color: var(--pink);
    font-size: 40px;
    font-weight: bold;
}
.point_text
{
    color: var(--deep-grey);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: justify;
}
.marker
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.star
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}