.led__avatar {
    display: flex;
    flex-direction: row;
}

.led__left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.led__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 30px;
    background-color: #072D37;
    height: auto;
}

.led__right-username p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bol;
    font-size: 40px;
    text-align: center;
    /* letter-spacing: 0.23em; */
    color: #15CD96;
    /* background-color: #072D37; */
}

.led__right-logo {
    margin-top: 40px;
    margin-bottom: 20px;
}

.led__left-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.led__left-logo__1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
}

.led__right-image {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
}

.led__left-image {
    margin-right: 100px;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 20px;
}

.led__left__upper {
    display: flex;
    flex-direction: row;
}

.led__right-content__input {
    /* width: 70%; */
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}



.led__right-content__input button {
    flex: 0.6;
    width: 30rem;
    margin-top: 35px;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    background: #15CD96;
    border: 2px solid #15CD96;
    padding: 20px;
    color: #072D37;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}