.led__header
{
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header__left
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 50%;
}
.header__right
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.heading
{
    font-size: 64px;
    font-weight: 900;
    color: var(--deep-pink);
    line-height: 80%;
}
.span1, .span2
{
    font-size: 36px;
    font-weight: 600;
    color: var(--deep-grey);
}
.led__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.button__styling2
{
    padding: 12px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    font-weight: 700;
    background-color: var(--deep-pink);
    border: none;
    border-radius: 12px;
    font-size: 24px;
    color: var(--black);
    cursor: pointer;
    width: 360px;

}