@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

a {
    text-decoration: none;
    color: var(--white) !important;
    font-size: 16px;
    font-weight: medium;
}

.led {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(7.5px);
    padding: 0.5rem 4rem;
}

/* .active {
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    padding: 0.5rem 4rem;
} */

.led__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
}

.button__styling
{
    background-color: var(--deep-pink);
    color: var(--black);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 192px;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}
.button__styling3
{
    /* background-color: var(--deep-pink); */
    color: var(--white);
    border: 0.1px solid var(--grey);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* border: none; */
    border-radius: 12px;
}
.led__navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 30%;
}

.led__navbar-links_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-between;
}

.led__navbar-links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
}
.circular_image
{
    border-radius: 50%;
    border: var(--grey) 0.5px solid;
    padding: 0.5rem;
}
.coloured
{
    color: var(--deep-pink) !important;
    font-weight: 800 !important;
}
.svg{
    display: none;
}