.led_feed
{
    display: flex;
    /* background-color: var(--grey); */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--deep-grey) !important;
}
.divider
{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.each_feed
{
    background: url('../../assets/TextEditor.svg');
    background-size: cover  !important;
    color: var(--deep-grey) !important;
    width: 60vw;
    padding: 0.5rem 2rem;
}
.past_title
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 96px;
    font-weight: 900;
}
.past_header
{
    display: flex;
    background-color: var(--deep-pink);
    width: 100%;
    align-items: center;
    justify-content: center;
}